.cap_info_wrapper {
  margin-bottom: 10px;
  height: 80px;
  font-size: 1.1em;
}

.cap_checkbox {
  background-color: #00505C;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
}

.cap_checkbox SPAN {
  font-weight: bold;
  font-size: 1.2em;
  color: White;
  display: block;
  height: 100%;
  line-height: 50px;
}

.cap_checkbox span em {
  font-style: normal;
  line-height: 48px;
}

.cap_status_bad {
  background: #8C1515 url('../images/checks.png') 2px 2px no-repeat;
}

.cap_status_good {
  background: #009B76 url('../images/checks.png') -50px 2px no-repeat;
}

.cap_checkbox.cap_date {
  background-color: #53284F;
}

.cap_additional {
  font-size: 0.9em;
  margin-left: 60px;
}
