#fields li {
  list-style: none;
}

#fields .level-2 {
  margin-left: 25px;
}

#fields .level-3 {
  margin-left: 50px;
}

#fields .level-4 {
  margin-left: 75px;
}

#fields .level-5 {
  margin-left: 100px;
}
